<% layout('layouts/boilerplate')%>

<div class="p-4 p-md-5 mb-4 text-white rounded bg-secondary row" id="strat">
  <div class="px-0">
    <h3 class="display-5 fst-italic"><%= strat.title %></h3>
    <p><%= strat.content %></p>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      cập nhật chiến lược
    </button>
  </div>
</div>
<!-- modal form  -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Chiến lược</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/home" id="stratForm" method="post">
          <input type="text" hidden value="<%= strat._id %>" name="id" />
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Tiêu đề</label>
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              name="title"
              value="<%= strat.title %>"
            />
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Nội dung</label>
            <textarea class="form-control" id="message-text" name="content">
<%= strat.content %></textarea
            >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Hủy
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="document.getElementById('stratForm').submit()"
        >
          Cập nhật
        </button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between mb-2">
  <label for="projectTable" class="h2">Dự án</label>
  <div>
    <a href="/projects/new" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
    </svg></a>
  </div>
  
</div>

<!-- end modal form -->
<div class="manageTable" id="projectTable">
  <div class="row g-2 g-xxl-1">
    <% for(let project of projects) { %>
    <div class="col-md-6 col-xxl-3">
      <div class="card d-block">
        <div class="card-body">
          <!-- project title-->
          <h4 class="mt-0">
            <a href="/projects/<%= project._id %>" class="card-title tree-menu-link"
              ><%= project.title %></a
            >
          </h4>
          <% const completed = project.progress == 100? true:false  %>
          <div class="badge bg-<%= completed? 'success':'secondary' %>"><%= completed? 'Đã hoàn thành':'Chưa hoàn thành' %></div>

          <p class="text-muted font-13 my-3">
           <%= project.description %>
          </p>

          <!-- project detail-->
          <p class="mb-1">
            <span class="pe-2 text-nowrap mb-2 d-inline-block">
              <i class="mdi mdi-format-list-bulleted-type text-muted"></i>
              <b><%= project.tasks.length %></b> Nhiệm vụ
            </span>
            <!-- <span class="text-nowrap mb-2 d-inline-block">
              <i class="mdi mdi-comment-multiple-outline text-muted"></i>
              <b>741</b> Comments
            </span> -->
          </p>
        </div>
        <!-- end card-body-->
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-3">
            <!-- project progress-->
            <p class="mb-2 fw-bold">
              Hoàn thành <span class="float-end"><%= project.progress %>%</span>
            </p>
            <div class="progress progress-sm">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: <%= project.progress%>%"
              ></div>
              <!-- /.progress-bar -->
            </div>
            <!-- /.progress -->
          </li>
        </ul>
      </div>
    </div>
    <% } %>
  </div>
</div>

<div class="d-flex justify-content-between mb-2">
  <label for="employeeTableTable" class="h2">Nhân sự</label>
  <div>
    <a href="/users/new" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
    </svg></a>
  </div>
</div>

<div class="manageTable" id="employeeTable">
  <div class="card">
    <div class="card-body table-responsive">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Họ & tên</th>
            <th>Bắt đầu làm việc</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for(let user of all) {%>
            <tr>
              <td><%= all.indexOf(user) + 1 %></td>
              <td><%= user.pi.fullname %></td>
              <td><%= user.initDate %></td>
              <td class="d-flex justify-content-center">
                <a href="/users/<%= user._id %>" class="btn btn-success">Hồ sơ</a>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>