<% layout('layouts/boilerplate') %>

<div class="container">
  <h2>Thay đổi thông tin</h2>
  <form action="/users/<%= user._id  %>?_method=PUT" method="POST">
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="surname" class="form-label">Họ và tên đệm</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          name="pi[name][surname]"
          value="<%= pi.name.surname  %>"
        />
      </div>
      <div class="col-md-6">
        <label for="name" class="form-label">Tên</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="pi[name][name]"
          value="<%= pi.name.name %>"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="dob" class="form-label">Ngày sinh</label>
        <input
          type="date"
          class="form-control"
          id="dob"
          name="pi[dob]"
          value="<%= pi.dob %>"
        />
      </div>
      <div class="col-md-6">
        <label for="gender" class="form-label">Giới tính</label>
        <select
          class="form-select"
          id="gender"
          name="pi[gender]"
          value="<%= pi.gender  %>"
        >
          <option selected value="">-</option>
          <option value="Nam">Nam</option>
          <option value="Nữ">Nữ</option>
          <option value="Khác">Khác</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="city" class="form-label">Tỉnh/Thành phố</label>
        <input
          type="text"
          class="form-control"
          id="city"
          name="pi[location][city]"
          value="<%= location.city  %>"
        />
      </div>
      <div class="col-md-4">
        <label for="district" class="form-label">Quận/Huyện</label>
        <input
          type="text"
          class="form-control"
          id="district"
          name="pi[location][district]"
          value="<%= location.district  %>"
        />
      </div>
      <div class="col-md-4">
        <label for="zipcode" class="form-label">Zipcode</label>
        <input
          type="text"
          class="form-control"
          id="zipcode"
          name="pi[location][zipcode]"
          value="<%= location.zipcode  %>"
        />
      </div>
      <div>
        <label for="address" class="form-label">Địa chỉ</label>
        <input type="text" class="form-control" name="pi[location][address]" value="<%= location.address  %>" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="">
        <label for="status" class="form-label">Trạng thái</label>
        <div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="work[status]"
              id="active"
              value="true"
              checked
            />
            <label class="form-check-label" for="active">Hoạt động</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="work[status]"
              id="suspended"
              value="false"
            />
            <label class="form-check-label" for="suspended">Đình chỉ</label>
          </div>
        </div>
      </div>
      <div class="">
        <label for="job" class="form-label">Vị trí</label>
        <div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="work[job]"
              id="ft"
              value="ft"
              checked
            />
            <label class="form-check-label" for="ft">Full-time</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="work[job]"
              id="pt"
              value="pt"
            />
            <label class="form-check-label" for="pt">Part-time</label>
          </div>
        </div>
      </div>
      <div class="">
        <label for="job" class="form-label">Quyền</label>
        <div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="work[position]"
              id="ad"
              value="admin"
            />
            <label class="form-check-label" for="ad">Admin</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="work[position]"
              id="hr"
              value="hr"
            />
            <label class="form-check-label" for="hr">HR</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="work[position]"
              id="nv"
              value="nv"
              checked
            />
            <label class="form-check-label" for="nv">Nhân viên</label>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary">Cập nhật thông tin</button>
  </form>
</div>
